<%= render "header" %>

<div class="container flex justify-between">
  <div class="mb-50">
    <h2 class="heading-xl sm:heading-xl mb-20">Browse Tables</h2>
    <p class="heading-md sm:heading-md mb-50">Find a seat at an upcoming table near you.</p>
    <p class="form__label">Location:</p>
    <p><%= current_user.location %></p>
  </div>
  <div class="cards flex-col">
  <%= render partial: "event", collection: @events %>
  </div>
</div>
