body {
  background: $background;
  color: $text;
  font-family: $global-family;
  font-size: $body;
  font-weight: $light-weight;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.link {
  color: $link;
  transition: color 0.3s;

  &:focus,
  &:hover {
    color: $link-hover;
  }
}

img {
  display: block;
  margin: auto;
}

svg {
  fill: currentColor;
}

button,
input[type='submit'] {
  cursor: pointer;
}
