body {
  font-family: $global-family;
  font-size: $body;
  font-weight: $light-weight;
  background: $background;
  color: $text;
}

a {
  color: $link;
  text-decoration: inherit;

  &:focus,
  &:hover {
    color: $link-hover;
  }
}

img {
  display: block;
  margin: auto;
}

svg {
  fill: $charcoal;
}
