body {
  background: $background;
  color: $text;
  font-family: $global-family;
  font-size: $body;
  font-weight: $light-weight;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:focus,
  &:hover {
    color: inherit;
  }
}

img {
  display: block;
  margin: auto;
}

svg {
  fill: $charcoal;
}

button {
  cursor: pointer;
}
