// spacing
$base-spacing: 10px;
$max-width: 1200px;
$default-width: 84vw;

// flex gap
$gap-xs: 5px;
$gap-sm: 15px;
$gap: 20px;

$breakpoints: (
  'large': 1440,
  'medium': 1200,
  'small': 415
) !default;

// colours
$white: #fff;
$gray100: #f2f2f2;
$gray200: #b7b7b7;
$gray300: #969696;
$gray400: #727272;
$charcoal: #3f3b3b;
$black: #000;

$red: #d73838;
$yellow: #fa9704;
$yellow-hover: #ffbe5e;
$yellow-banner: #fce5ab;
$blue: #0047ff;
$blue-hover: #376fff;
$maroon: #a64349;
$maroon-hover: #883f3f;
$purple: #512589;

$text: $charcoal;
$background: $white;
$link: $blue;
$link-hover: $black;
$border: $black;

// focus
$focus-border: rgba(82, 168, 236, 0.8);

// border radius
$rounded-sm: 5px;
$rounded: 20px;
$rounded-full: 9999px;

// typography
$serif: 'DM Serif Display', serif;
$sans-serif: 'Lato', sans-serif;

$global-family: $sans-serif;

$body: 16px;
$small-body: 14px;
$big-body: 24px;
$title: 70px;
$h1: 50px;
$h2: 30px;
$h3: 22px;
$h4: 16px;
$h5: 18px;
$body-mobile: 15px;
$small-body-mobile: 13px;
$big-body-mobile: 20px;
$title-mobile: 45px;
$h1-mobile: 40px;
$h2-mobile: 24px;
$h3-mobile: 20px;
$h4-mobile: 14px;
$h5-mobile: 16px;

$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;
$black-weight: 900;

$line-height: (
  body: 1.2,
  title: 1.1,
  h1: 1.1,
  h2: 1.4,
  h3: 1.35,
  h4: 1.2,
  h5: 1.2,
  title-mobile: 1.1,
  h1-mobile: 1.1,
  h2-mobile: 1.35,
  h3-mobile: 1.2,
  h4-mobile: 1.2,
  h5-mobile: 1.2
);

$zindex: (
  base: 1,
  content: 10,
  nav: 100,
  modal: 200
);
