// spacing
$base-spacing: 20px;
$max-width-lg: 1200px;
$max-width-sm: 400px;

$breakpoints: (
  'x-huge': 1260,
  'huge': 1200,
  'large': 1024,
  'medium': 900,
  'med-sm': 750,
  'small': 600,
  'tiny': 375
) !default;

// colours
$black: #000;
$white: #fff;
$light-gray: #eee;
$gray: #757575;
$dark-gray: #333;
$blue: #0d4fbf;
$dark-blue: #002f80;

$text: $black;
$background: $white;
$link: $blue;
$link-hover: $dark-blue;
$border: $black;

// focus
$focus-border: rgba(82, 168, 236, 0.8);

// typography
$sans-serif: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

$global-family: $sans-serif;

$text-size: 16px;
$text-line-height: 24px;
$misc-size: 14px;
$misc-line-height: 16px;

$heading-lg: 32px;
$heading-lg-line-height: 40px;
$heading-md: 24px;
$heading-md-line-height: 32px;
$heading-sm: 18px;
$heading-sm-line-height: 27px;
$heading-xs: 12px;
$heading-xs-line-height: 14px;

$regular-weight: 400;
$bold-weight: 700;

$zindex: (
  base: 1,
  content: 10,
  nav: 100,
  modal: 200
);
