<div class="container-full flex wrap">
  <div class="column-title">
    <%= render "header" %>
    <h2 class="heading-xl sm:heading-xl mb-20">My Tables</h2>
    <p class="heading-md sm:heading-md mb-50">
      Tables you’ve created or joined show up here.
    </p>
  </div>
  <div data-module="tabs" class="column-main">
    <div class="tab flex justify-between">
      <button class="tab__links" data-type="joined">Joined Tables</button>
      <button class="tab__links" data-type="created">Created Tables</button>
    </div>
    <div class="tab__content" id="joined">
      <%= render(@joined_events) || "<p class='card big-body sm:big-body'>You haven't joined any tables yet.</p>".html_safe %>
    </div>
    <div class="tab__content" id="created">
      <%= render(@created_events) || "<p class='card big-body sm:big-body'>You haven't created any tables yet.</p>".html_safe %>
    </div>
  </div>
</div>