<%= render "header" %>

<div class="container">
  <div class="column-container flex justify-between">
    <div class="column column--small mb-50">
      <h2 class="heading-xl sm:heading-xl mb-50">My Tables</h2>
    </div>
    <div class="column column--big flex-col mb-130">
      <div class="tab flex justify-between">
        <button class="tab__links active" onclick="switchTabs(event, 'created')">Created Tables</button>
        <button class="tab__links" onclick="switchTabs(event, 'archived')">Archived Tables</button>
      </div>
      <div class="tab__content" id="created">
        <%= render partial: "events/event", collection: @created_events %>
      </div>
      <div class="tab__content" id="joined">
        <%= render partial: "events/event", collection: @joined_events %>
      </div>
    </div>
  </div>
</div>
