<%= render "header" %>

<div class="container-full flex">
  <div class="column-title">
    <h2 class="heading-xl sm:heading-xl mb-20">My Tables</h2>
    <p class="heading-md sm:heading-md mb-50">
      Tables you’ve created or joined show up here.
    </p>
  </div>
  <div data-module="tabs" class="column-main flex-col">
    <div class="tab flex justify-between">
      <button class="tab__links active" data-type="created">Created Tables</button>
      <button class="tab__links" data-type="joined">Joined Tables</button>
    </div>
    <div class="tab__content" id="created">
      <%= render partial: "events/event",
          collection: @created_events %>
    </div>
    <div class="tab__content" id="joined">
      <%= render partial: "events/event",
          collection: @joined_events %>
    </div>
  </div>
</div>