<%= render "header" %>

<div class="container mb-130">
  <h2 class="heading-xxl sm:heading-xxl mb-10">New here? Join the table</h2>
  <p class="heading-md sm:heading-md mb-30">Eat & Greet is here to help connect you with your community, face-to-face, over a meal.</p>
  <%= render "devise/shared/sign_up" %>
</div>
<div class="container mb-110 text-center">
  <h2 class="heading-xl sm:heading-xl mb-150">How it works</h2>
  <div class="flex-col">
    <div class="mb-150">
      <h3 class="heading-lg sm:heading-lg mb-10">Browse tables near you</h3>
      <img src="https://via.placeholder.com/300x150" alt="">
    </div>
      <div class="mb-150">
      <h3 class="heading-lg sm:heading-lg mb-10">Join tables</h3>
    <img class="img-fit" src="https://via.placeholder.com/300x150" alt="">
    </div>
    <div class="mb-150">
      <h3 class="heading-lg sm:heading-lg mb-10">Meet people and make friends</h3>
      <img src="https://via.placeholder.com/300x150" alt="">
    </div>
  </div>
  <p class="heading-md sm:heading-md mb-30">Build your community by discovering new restaurants and making new connections</p>
  <%= render "devise/shared/sign_up" %>
</div>