<%= render "header" %>

<div class="container text-center">
  <h2 class="heading-xl sm:heading-xl">New here? Join the table</h2>
  <p>Eat & Greet is here to help connect you with your community, face-to-face, over a meal.</p>
  <h2 class="heading-lg sm:heading-lg">How it works</h2>
  <div class="flex-col">
    <h3 class="heading-md sm:heading-md mb-10">Browse tables near you</h3>
    <img src="https://via.placeholder.com/300x150" alt="">
    <h3 class="heading-md sm:heading-md mb-10">Join tables</h3>
    <img class="img-fit" src="https://via.placeholder.com/300x150" alt="">
    <h3 class="heading-md sm:heading-md mb-10">Meet people and make friends</h3>
    <img src="https://via.placeholder.com/300x150" alt="">
  </div>
  <p>Build your community by discovering new restaurants and making new connections</p>
  <%= render "devise/shared/sign_up" %>
</div>