.forgot-password {
  background-color: $white;
  margin: auto;
  max-width: $max-width;
  padding: spacing(13) spacing(2.2) spacing(2.2);
  width: 100%;

  @include bpMin('small') {
    padding: spacing(15) spacing(6) spacing(6);
  }

  .header__logo {
    color: $red;
  }
}
