.splash-sign-in {
  width: 80vw;
  margin: 0 auto;

  @include bpMin('large') {
    width: auto;
    margin-right: spacing();

    .form__input,
    .form__field {
      margin: spacing(0.5);
    }
  }

  @include bp('large') {
    max-width: $max-width-sm;
  }
}

.splash-image {
  max-width: 450px;
  margin: spacing(2) auto;
}
