.table-details {
  margin: spacing(15) auto 0;
  width: $default-width;

  .header__logo {
    color: $red;
  }

  @include bp('medium') {
    display: flex;
    flex-direction: column;
  }

  // Clearfix
  @include bpMin('medium') {
    &::after {
      content: '';
      clear: both;
      display: table;
    }
    margin-top: spacing(5);
  }

  @supports (display: grid) {
    display: grid;
    grid-template-areas:
      'guests'
      'title'
      'aside'
      'comments';
    grid-template-columns: auto;
    grid-template-rows: auto;

    @include bpMin('medium') {
      grid-template-areas:
        '. guests'
        'aside title'
        'aside comments'
        'aside .';
      grid-template-columns: rem(350px) minmax(350px, 750px);
    }
  }
}

.table-details__guests {
  margin-bottom: spacing(4);
  order: 1;

  @include bpMin('medium') {
    margin-left: rem(335px);
    margin-bottom: spacing(10);
    width: 65%;
  }

  @supports (display: grid) {
    grid-area: guests;
    margin-left: 0;
    width: auto;
  }
}

.table-details__aside {
  order: 3;

  @include bpMin('medium') {
    float: left;
    margin-right: spacing(6);
  }

  @supports (display: grid) {
    grid-area: aside;
    margin-right: 0;
  }
}

.table-details__title {
  margin-right: spacing(4);
  max-width: rem(750px);
  order: 2;

  @include bpMin('medium') {
    float: left;
    width: 65%;
  }

  @supports (display: grid) {
    grid-area: title;
    width: auto;
  }
}

.table-details__comments {
  margin-right: spacing(4);
  max-width: rem(750px);
  order: 4;

  @include bpMin('medium') {
    float: left;
    width: 65%;
  }

  @supports (display: grid) {
    grid-area: comments;
    width: auto;
  }
}
