.btn {
  align-items: center;
  appearance: none;
  border-radius: $rounded-full;
  border: solid 1px $blue;
  display: inline-flex;
  font-size: rem(11px);
  font-weight: $black-weight;
  justify-content: center;
  margin: auto;
  min-height: rem(44px);
  min-width: rem(44px);
  padding: 0 spacing(2);
  text-transform: uppercase;

  .btn__icon {
    align-self: center;
  }

  @include bpMin('small') {
    border-radius: $rounded;
    min-height: auto;
    min-width: auto;
    padding: spacing() spacing(2.5);
    width: auto;
  }
}

.btn--small {
  padding: 0;

  .btn__text {
    display: none;
  }

  @include bpMin('small') {
    padding: spacing() spacing(2.5);

    .btn__text {
      display: block;
    }

    .btn__icon {
      display: none;
    }
  }
}

.btn--blue {
  background-color: $blue;
  color: $white;

  .btn__icon {
    fill: $white;
  }

  &:hover,
  &:focus {
    background-color: $blue-hover;
    border-color: $blue-hover;
    color: $white;
  }
}

.btn--blue-border {
  background-color: transparent;
  color: $charcoal;

  .btn__icon {
    fill: $blue;
  }

  &:hover,
  &:focus {
    background-color: $blue-hover;
    border-color: $blue-hover;
    color: $white;

    .btn__icon {
      fill: $white;
    }
  }
}

.btn--yellow {
  background-color: $yellow;
  border-color: $yellow;
  color: $charcoal;

  .btn__icon {
    fill: $charcoal;
  }

  &:hover,
  &:focus {
    background-color: $yellow-hover;
    border-color: $yellow-hover;
    color: $charcoal;
  }
}

.btn--maroon {
  background-color: $maroon;
  border-color: $maroon;
  color: $white;

  .btn__icon {
    fill: $white;
  }

  &:hover,
  &:focus {
    background-color: $maroon-hover;
    border-color: $maroon-hover;
    color: $white;
  }
}
