.btn {
  @include btn;
}

.btn--small {
  @include btnSmall;
}

.btn--primary {
  background-color: $blue;
  border-color: $blue;
  color: $white;

  &:hover,
  &:focus {
    background-color: $blue-hover;
    border-color: $blue-hover;
    color: $white;
  }
}

.btn--secondary {
  background-color: transparent;
  border-color: $blue;
  color: $charcoal;

  .btn__icon {
    fill: $blue;
  }

  &:hover,
  &:focus {
    background-color: $blue-hover;
    border-color: $blue-hover;
    color: $white;

    .btn__icon {
      fill: $white;
    }
  }
}

.btn--join {
  background-color: $yellow;
  border-color: $yellow;
  color: $charcoal;

  &:hover,
  &:focus {
    background-color: $yellow-hover;
    border-color: $yellow-hover;
    color: $charcoal;
  }
}

.btn--leave {
  background-color: $maroon;
  border-color: $maroon;
  color: $white;

  &:hover,
  &:focus {
    background-color: $maroon-hover;
    border-color: $maroon-hover;
    color: $white;
  }
}

.btn--info {
  background-color: $white;
  border-color: $yellow-banner;
  color: $charcoal;

  &:hover,
  &:focus {
    background-color: $yellow;
    color: $charcoal;
  }
}
