.cards {
  display: flex;
  margin: spacing(0.5);

  .card {
    border: solid 1px $border;
    margin: spacing(0.5);
    padding: spacing(0.75);

    &:hover,
    &:focus {
      background-color: $light-gray;
    }
  }
}
