.comment__time {
  color: $gray400;
  font-weight: $regular-weight;
  margin-left: spacing();
}

.comment__reply {
  border-left: solid 1px $gray300;
  padding-left: spacing(2);
}

.comment__helper {
  color: $gray300;
  font-style: italic;
}

.comment__divider {
  border: solid 1px $gray100;
}
