.form {
  margin: spacing();
  display: flex;
  flex-direction: column;

  .form__input,
  .form__field {
    margin: spacing(0.5) auto;
  }

  .form__input {
    border-radius: spacing(0.5);
    padding: spacing(0.5);
  }
}
