.form__button,
.form__input,
.form__field {
  margin: spacing(0.5) auto;
}

.form__input,
.form__field {
  width: 100%;
}

.form__input {
  border-radius: spacing(0.5);
  padding: spacing(0.5);
}

.form__label {
  font-weight: 700;
  font-size: rem(11px);
  line-height: 1.4;
}
