.form__section {
  max-width: rem(500px);
  width: 100%;
}

.form__button,
.form__input,
.form__field {
  margin: spacing(0.5) auto spacing(2);
}

.form__input,
.form__field {
  width: 100%;
}

.form__input--md {
  max-width: 250px;
}

.form__input {
  background-color: $white;
  border-radius: $rounded-sm;
  border: solid 1px $gray200;
  box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.1) inset;
  padding: spacing();
}

.form__label,
.form__input,
.form__select,
.form__select option {
  color: $black;
}

.form__input::placeholder,
input.form__date:invalid,
select.form__select:invalid,
select.form__select option[value=''] {
  color: $gray300;
  font-size: rem(15px);
  font-style: italic;
}

.form__select {
  appearance: none;
  background-image: url('../../assets/images/icons/dropdown.svg');
  background-position: right spacing(0.5) top 50%;
  background-repeat: no-repeat;
}

.form__label {
  align-items: center;
  color: $black;
  display: block;
  font-size: rem(11px);
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: spacing(0.25);
  text-transform: uppercase;

  .form__label-icon {
    fill: $black;
    margin-right: spacing(0.5);
  }
}

.form__details {
  color: $gray400;
  display: block;
  font-size: rem(15px);
  font-style: italic;
  font-weight: $regular-weight;
  margin-bottom: spacing();
}

.form__photo {
  color: $blue;
  cursor: pointer;

  .form__photo-button {
    align-items: center;

    .form__photo-icon {
      fill: $blue;
      margin-right: spacing(0.5);
    }
  }

  .form__photo-file {
    color: $charcoal;
    font-size: rem(15px);
  }
}

input[type='file']::-webkit-file-upload-button {
  bottom: -99999px;
  padding: 0;
  position: relative;
  width: 0;
}
