.header {
  align-items: center;
  position: absolute;
  top: spacing(4);
  max-width: $max-width;
  width: $default-width;
}

.header__logo {
  height: rem(48px);
  width: rem(104px);
}

.header__nav {
  background-color: $white;
  bottom: 0;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.15);
  flex-direction: row;
  left: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: map-get($zindex, nav);

  @include bpMin('medium') {
    box-shadow: none;
    flex-direction: column;
    left: auto;
    padding: spacing(3) 0;
    right: 0;
    top: 0;
    width: rem(100px);
  }
}

.header__button {
  border: solid 1px $gray100;
  color: $black;
  display: inline-block;
  flex-basis: 25%;
  padding: spacing() 0;
  text-align: center;

  &:hover,
  &:focus {
    color: $red;
  }

  .header__btn-text {
    font-size: rem(11px);
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
  }

  @include bpMin('medium') {
    border: none;
    flex-basis: auto;
    margin-bottom: spacing(2);
    padding: 0 spacing(4.5) 0 0;
    text-align: center;
  }
}

.header__icon {
  align-self: center;
  display: block;
  margin: auto;
}

.header__button--sign-in {
  order: 1;

  @include bpMin('medium') {
    color: $red;
    order: 0;
    padding: 0 spacing(4.5) 0 0;

    &:hover,
    &:focus {
      color: $blue;
    }
  }
}

.header__icon--sign-in {
  border: none;
  min-height: auto;
  min-width: auto;
  padding: 0;

  @include bpMin('medium') {
    @include userBtn;
  }
}

.header__btn-text {
  display: none;

  @include bpMin('medium') {
    display: inline-block;
  }
}
