.header {
  justify-content: space-between;
  margin-bottom: spacing(9);
  padding-top: spacing(3);

  @include bpMin('medium') {
    align-items: center;
    border-bottom: solid 1px $border;
    justify-content: space-between;
    padding: spacing(0.5) 0;

    .header__logo {
      margin: 0;

      .header__logo-mark {
        margin-left: spacing(2);
      }
    }
  }
}

.header__logo {
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  margin: 0 auto spacing();
  max-height: rem(50px);

  .header__logo-mark {
    margin-right: spacing();
  }

  .header__logo-text {
    font-size: rem($h2);
  }
}

@include bpMin('medium') {
  .header__nav {
    margin-right: spacing(2);
  }
}
