.info-box {
  background-color: $gray100;
  max-width: 275px;
  padding: spacing(2.5);

  @include bpMin('large') {
    max-width: auto;
  }
}

.info-box__details {
  align-items: center;

  .info-box__icon {
    margin-right: spacing();
  }
}

.info-box__attending {
  align-items: center;
  display: inline-flex;

  &:hover,
  &:focus {
    color: $red;
  }

  .info-box__image {
    align-items: center;
    border-radius: $rounded-full;
    border: solid 1px $red;
    color: $red;
    display: inline-flex;
    height: rem(40px);
    justify-content: center;
    margin-right: spacing(1.25);
    overflow: hidden;
    width: rem(40px);

    img {
      left: 50%;
      max-height: 200%;
      max-width: 200%;
      min-height: 100%;
      min-width: 100%;
      position: relative;
      top: 50%;
      transform: translate(-50%, -50%);

      @supports (object-fit: cover) {
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: static;
        transform: none;
        width: 100%;
      }
    }

    svg {
      height: rem(30px);
      width: rem(30px);
    }
  }
}
