.container {
  margin: 0 auto;
  max-width: $max-width;
  width: 84vw;

  @include bpMin('medium') {
    padding-right: rem(100px);
  }
}

.column-container {
  margin: spacing(-2);
}

.column {
  margin: spacing(2);
}

.column--small {
  flex: 1 1 rem(350px);
  max-width: rem(515px);
  min-width: rem(350px);
}

.column--big {
  flex-basis: rem(570px);
}
