.container {
  margin: 0 auto spacing(10);
  max-width: $max-width;

  @include bpMin('small') {
    width: 84vw;
  }

  @include bpMin('medium') {
    margin-right: spacing(10);
  }

  @include bpMin('large') {
    margin: 0 auto spacing(10);
  }
}

.container-full {
  margin: 0 0 spacing(10);

  @include bpMin('medium') {
    margin-right: spacing(10);
  }
}

$gap: spacing(2);

.flex-gap {
  margin: -$gap -$gap spacing();
}

.flex-gap__item {
  margin: $gap;
}

.column-top {
  margin-top: spacing(20);
}

.column-title {
  background-color: $red;
  border-bottom-right-radius: rem(50px);
  color: $white;
  margin: 0 0 auto;
  padding: spacing(10) spacing(3) spacing(3);
  width: 100%;

  @include bpMin('small') {
    min-width: rem(460px);
    max-width: rem(550px);
    padding: spacing(15) spacing(5) spacing(5) 8vw;
    width: 38vw;
  }

  @include bpMin('medium') {
    border-bottom-right-radius: 50%;
    padding: spacing(20) spacing(8) spacing(8) spacing(13);
  }

  @include bpMin('medium') {
    border-bottom-right-radius: 50%;
    padding: spacing(20) spacing(8) spacing(8) spacing(13);
  }

  .form__label {
    color: $white;

    .form__label-icon {
      fill: $white;
    }
  }
}

.column-main {
  margin: auto;
  padding: spacing(2);
  width: 100%;

  @include bpMin('small') {
    padding: spacing(5) 0;
    width: 84vw;
  }

  @include bpMin('medium') {
    flex: 1 1 rem(300px);
    margin: 0;
    padding: spacing(8) spacing(10);
    width: 100%;
  }

  @include bpMin('large') {
    align-items: flex-start;
    margin: spacing(-1.5);
  }
}
