.profile-container {
  margin: auto;

  @include bpMin('small') {
    max-width: $default-width;
  }

  .header {
    left: 8vw;

    @include bpMin('small') {
      left: auto;
    }
  }

  .header__logo {
    color: $red;
  }
}

.profile {
  max-width: rem(350px);
  width: $default-width;

  &:last-child {
    margin-left: auto;
    margin-right: auto;
  }
}

.profile__location {
  align-items: center;
}

.profile__image,
.profile__image-default {
  border-radius: $rounded-full;
  border: solid 1px $red;
  height: rem(250px);
  margin: 0 auto;
  width: rem(250px);
}

.profile__image {
  overflow: hidden;

  img {
    flex: none;
    left: 50%;
    max-height: 200%;
    max-width: 200%;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);

    @supports (object-fit: cover) {
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: static;
      transform: none;
      width: 100%;
    }
  }
}

.profile__image-default {
  align-items: center;
  color: $red;
  display: flex;
  justify-content: center;

  svg {
    height: rem(200px);
    width: rem(200px);
  }
}

.profile__details > *:last-child {
  margin-bottom: spacing(3);
}

.profile__divider {
  border: solid 0.5px $charcoal;
  margin: spacing(1.5) 0;
}

.profile__social {
  color: $black;
  margin-right: spacing(2);
  transition: 0.3s;

  &:hover,
  &:focus {
    color: $blue;
  }
}

.profile__flex-item {
  flex-basis: 47%;
}

.profile__btn {
  align-items: center;
  font-size: rem(11px);
  font-weight: $black-weight;
  text-transform: uppercase;

  .profile__icon {
    margin-bottom: spacing(0.2);
  }
}

.profile__buttons {
  margin: -$gap-xs;

  & > * {
    margin: $gap-xs;
  }
}
