.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.mb-5 {
  margin-bottom: spacing(0.25);
}

.mb-10 {
  margin-bottom: spacing(0.5);
}

.h1 {
  font-size: rem($h1);
  line-height: rem($h1-line-height);
}

.h2 {
  font-size: rem($h2);
  line-height: rem($h2-line-height);
}

.h3 {
  font-size: rem($h3);
  line-height: rem($h3-line-height);
}

.heading-regular {
  font-weight: $regular-weight;
}

.img-fit {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.img-container {
  width: 100%;
  overflow: hidden;
}
