.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.md\:flex-row {
  @include bpMin('medium') {
    flex-direction: row;
  }
}

.lg\:flex-row {
  @include bpMin('large') {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.justify-between {
  justify-content: space-between;
}

.mb-5 {
  margin-bottom: spacing(0.5);
}

.mb-10 {
  margin-bottom: spacing();
}

.mb-15 {
  margin-bottom: spacing(1.5);
}

.mb-20 {
  margin-bottom: spacing(2);
}

.mb-30 {
  margin-bottom: spacing(3);
}

.mb-50 {
  margin-bottom: spacing(5);
}

.mb-70 {
  margin-bottom: spacing(7);
}

.mb-90 {
  margin-bottom: spacing(9);
}

.mb-110 {
  margin-bottom: spacing(11);
}

.mb-130 {
  margin-bottom: spacing(13);
}

.mb-150 {
  margin-bottom: spacing(15);
}

.text-center {
  text-align: center;
}

.text-red {
  color: $red;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
