<header class="header flex-col lg:flex-row justify-between">
  <div class="header__logo flex">
    <img class="header__logo-mark" src="https://via.placeholder.com/50">
    <h1 class="header__logo-text">Eat & Greet</h1>
  </div>
  <%= render "sign-in" %>
</header>