<header class="header flex-col lg:flex-row">
  <div class="header__logo flex">
    <img class="header__logo-mark" src="https://via.placeholder.com/50">
    <h1 class="logo-lg">Eat & Greet</h1>
  </div>
</header>