<header class="header flex-col lg:flex-row justify-between">
  <div class="header__logo flex">
    <img class="header__logo-mark" src="https://via.placeholder.com/50">
    <h1 class="header__logo-text">Eat & Greet</h1>
  </div>
  <%- if user_signed_in? %>
    <%= link_to "My Profile",
        user_path(current_user.slug),
        class: "header__nav btn" %>
  <% else %>
    <%= render "sign-in" %>
  <% end %>
</header>